

.App {
  margin: 2px;
  text-align: center;
  background-color: #303030;
  font-family: Nova Square;
  color: rgb(255, 255, 255);
  font-size: 25px;
}

.Header {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 50px;
}

.InteracticeScreen{
  background-color: #101010;
  margin-left: 10%;
  margin-right: 10%;
  block-size: 500px;
  border-color: #000000;
}

.container{
  margin: 50px;
  border-color: aquamarine;
  border-width: 10px;
}

.Exercises{
  background-color: #FFC000;
}





@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
