.App {
  text-align: center;
}

.HomePage-header {
  background-color: #262626;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.d-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.HomePage-title {
  margin-top: -6vw;
  font-size: 48px;
}

.HomePage-btn {
  cursor: pointer;
}

.HomePage-btn-selected {
  color: #ffc000;
}

.HomePage-btn-marker {
  width: 28px;
  height: 32px;
  margin-right: 12px;
  margin-left: -40px;
}

.HomePage-bottom-svg {
  position: absolute;
  bottom: 0;
  width: 100vw;
  pointer-events: none;
}
